type ifaa_daemon, domain;
type ifaa_daemon_exec, exec_type, file_type;

#Allow for transition from init domain to ifaadaemon
init_daemon_domain(ifaa_daemon)

#Allow ifaadaemon to use Binder IPC
binder_use(ifaa_daemon)

#Allow servicemanager to interact with ifaadaemon
binder_call(ifaa_daemon, servicemanager)

#Mark ifaadaemon as a Binder service domain
binder_service(ifaa_daemon)

#Allow ifaadaemon to be registered with service manager
allow ifaa_daemon ifaa_daemon_service:service_manager add;

#Allow access to tee device
allow ifaa_daemon tee_device:chr_file rw_file_perms;

#Allow access to firmware
r_dir_file(ifaa_daemon, firmware_file)
