allow servicemanager ifaa_daemon:dir { r_dir_perms };
allow servicemanager ifaa_daemon:file { r_file_perms };
allow servicemanager ifaa_daemon:process  { getattr };

allow servicemanager goodix:dir { r_dir_perms };
allow servicemanager goodix:file { r_file_perms };
allow servicemanager goodix:process { getattr };
